<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
    
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
   
    <h2>Latest Mars New:</h2>
    <h3>{{mars.news_title}}</h3>
    <p>{{mars.news_para}}</p>

    <img src="{{ mars.feature_img }}" alt="marsfeature">
    <h3>{{ mars.hemi1_title }}</h3>
    <img src="{{ mars.hemi1_img }}" alt="mars_hemi1">
    <h3>{{ mars.hemi2_title }}</h3>
    <img src="{{ mars.hemi2_img }}" alt="mars_hemi2">
    <h3>{{ mars.hemi3_title }}</h3>
    <img src="{{ mars.hemi3_img }}" alt="mars_hemi3">
    <h3>{{ mars.hemi4_title }}</h3>
    <img src="{{ mars.hemi4_img }}" alt="mars_hemi4">
  </div>
  </div>
</body>

</html>
